@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type: none;
}

/*body*/
body{
    background: #FBFBFB;
    font-family: 'Zilla Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

/*Top - Header*/
header{
    width:100%;
    padding:20px 16px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/*HeaderContainer*/
.brand_box{
    display: flex;
    font-size: 20px;
    width:30%;
}

/*Header-brandbox-Logo*/
.brand_box img{
    width:55%;
}

/*header-navbar-container*/
.nav_links{
    display: flex;
    align-items: center;
}

/*header-navbar-link-anchor*/
.nav_links .nav_link a{
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #2F2F30;
}


/*header-navbar-link-container*/
.nav_links .special_link{
    background: #2246C2;
    border-radius: 32px;
    padding:8px;
    text-align: center;
}

/*header-navbar-link-anchor-SPECIAL*/
.nav_links .special_link a{
    color:#FBFBFB;
    margin-left:15px;
}

/*hamburger icon container*/
.menu_icon{
    display: none;
    position: absolute;
    cursor:pointer;
    top: 5%;
    right: 26px;
    z-index:20;
}

/*hamburger-container-divs*/
.menu_icon div{
    display:block;
    width:26px;
    height:4px;
    margin-bottom: 4px;
    background-color: #9d9bbe;
    border-radius: 10px;
}

/*topsection container*/
.hero{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding:32px;
    position: relative;
}

/*topsection container - divs*/
._hero{
    width:50%;
}

/*topsection container - left heading*/
.hero_left-heading{
    font-family: 'Zilla Slab';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #2F2F30;
}

/*topsection container - right image*/
.hero_right img{
    width:80%;
    height:80%;
}

/*topsection highlight(color change)*/
.special_primary{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #2246C2;
}

/*topsection highlight(font style change)*/
.special_secondary{
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #2F2F30;
}

/*topsection left container*/
.hero_left{
    margin-left:16px;
}

/*top section left - content*/
.hero_left-content{
    margin-top:16px;
    width:75%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 128.69%;
    color: #8F8F92;
}

/*top section left - statistics container*/
.hero_left-statistics{
    margin-top:32px;
    display: flex;
}

/*top section left - statistic container*/
.hero_left-stat{
    margin-right:32px;
    text-align:center;
}

/*top section left - statistic number*/
.hero_left-statnum{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F2F30;
}

/*top section left - statistic label*/
.hero_left-statlabel{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 128.69%;
    text-align: center;
    color: #8F8F92;
}

/*top section-right container*/
.hero_right{
    text-align:center;
}

/*lead-form container*/
.header_bottom{
    background-color: #2246C2;
    padding:24px;
    padding-left:48px;
}

/*lead-form container content*/
.header_bottom p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
}

/*form tag*/
form{
    padding-bottom: 12px;
}

/*input tag*/
input{
    margin-top: 16px;
    width:30%;
    background: #FBFBFB;
    border: none;
    border-radius: 3px;
    padding:16px;
    outline:none;
    margin-right: 16px;
}

/*target button*/
.button_send{
    width:12%;
    margin-top: 16px;
    background: #FBFBFB;
    border-radius: 3px;
    border: none;
    padding:16px 8px;
    outline:none;
    margin-right: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 128.69%;
    text-align: center;
    color: #2246C2;
}

/*input placeholder*/
input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #2F2F30;
}

/*target button icon*/
.icon{
    margin-right:8px;
}

/*section containers*/
.ourservices,
.ourworks{
    margin-top:44px;
}

/*section containers - head*/
.ourservices .header .head,
.ourworks .header .head,
.happycustomers .header .head,
.ourtechnologies .header .head,
.footer .header .head{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 58px;
    color: #2F2F30;
    text-align: center;
}

/*section containers - description*/
.ourservices .header .description,
.ourworks .header .description,
.happycustomers .header .description,
.ourtechnologies .header .description,
.footer .header .description{
    margin:20px 16%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.69%;
    text-align: center;
    color: #8F8F92;
}

/*our services - body container*/
.ourservices .body{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

/*our sevices - body - content container*/
.ourservices .body .content{
    display: flex;
    flex-wrap: wrap;
    width:80%;
}

/*our sevices - body - content*/
.content_service{
    display: flex;
    align-items: center;
    background: #E5F1F5;
    border: 1px solid #2246C2;
    border-radius: 6px;
    padding:16px 32px;
    width:45%;
    margin-right:2.5%;
    margin-left:2.5%;
    margin-bottom: 2.5%;
}

/*our sevices - body - content - text*/
.content_service p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #2246C2;
}

/*our works section container*/
.ourworks{
    background: #FFFFFF;
}

/*our works - header - head container*/
.ourworks .header .head{
   padding-top: 42px;
}

/*our works - body - content container*/
.ourworks .body .content{
    display: flex;
    flex-wrap: wrap;
    width:80%;
}

/*our works - body - content container - content*/
.ourworks .body .content_project{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:35%;
    margin-left:15%;
    margin-bottom: 2.5%;
    margin-top: 40px;
    position: relative;
    z-index:2;
}

/*our works - body - content container - content - img*/
.ourworks .body .content_project img{
    width:100%;
}

/*our works - body - content container - content - title*/
.ourworks .body .content_project h5{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #2F2F30;
    margin-top:32px;
}

/*our works - body - content container - content - text*/
.ourworks .body .content_project p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 167.19%;
    color: #8F8F92;
    margin-top:16px;
}

/*our works - body - content container - content - view more button*/
.ourworks .body .content_project button{
    background: #2246C2;
    border:1px solid #2246C2;
    border-radius: 3px;
    padding:8px 16px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FBFBFB;
    text-align: center;
    margin-top:16px;
}

/*our works - body - content container - top space*/
.ourworks .body .content_project:nth-child(even) {
    margin-top:300px;
}

/*our works - bottom container*/
.ourworks .bottom{
    background-color: #2246C2;
    text-align: center;
    padding:32px;
    margin-top:52px;
    position:relative;
}

/*our works - bottom - title*/
.ourworks .bottom p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #F8F8F8;
    margin-bottom:16px;
}

/*our works - bottom - link*/
.ourworks .bottom a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 167.19%;
    color: #FBFBFB;
    text-align: center;
}

/*our works - bottom - link icon*/
.ourworks .bottom a span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FBFBFB;
    display: inline-block;
    margin-left:16px;
}

/*our works - bottom - image*/
.decimg{
    position: absolute;
    width:4%;
}

/*our works - bottom - image UIUX*/
.decimg1{
    top: 23%;
    left: 16%;
}

/*our works - bottom - image APP DEVELOPMENT*/
.decimg2{
    bottom: 7%;
    left: 5%;
}

/*our works - bottom - image END-TO-END SOLUTIONS*/
.decimg3{
    top: 21%;
    right: 10%;
}

/*our works - bottom - image WEB DEVELOPMENT*/
.decimg4{
    right:25%;
    bottom:5%;
}

/*feedback section container*/
.happycustomers{
    margin-top: 42px;
    padding-bottom: 42px;
}

/*feedback section - body container*/
.happycustomers .body{
    display: flex;
    justify-content: center;
}

/*feedback section - body - content container*/
.happycustomers .body .content{
    display: flex;
    width: 80%;
    align-items: center;
}

/*feedback section - body - content - feedback container*/
.happycustomers .body .content .content_feedbacks{
    position: relative;
}

/*feedback section - body - content - feedback container - feedback - text*/
.happycustomers .body .content .content_feedbacks .feedback p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 167.2%;
    color: #8F8F92;
    margin-bottom:16px;
}

/*feedback section - body - content - feedback container - feedback - feedback author*/
.happycustomers .body .content .content_feedbacks .feedback h4{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #2246C2;
    margin-bottom: 24px;
}

/*feedback section - body - content - feedback container - feedback - quote svg*/
.quote{
    position: absolute;
    top: -13%;
    left: -6%;
    width: 10%;
}

/*footer container*/
.footer{
    margin-top:52px;
}

/*footer - body - content container*/
.footer .body .content{
    background-color: #2246C2;
    width:100%;
}

/*footer - body - content - form*/
.form_footer{
    width:80%;
    margin: auto;
    padding-top:32px;
}

/*footer - body - content - form - div*/
.form_footer div{
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

/*footer - body - content - form - div - input*/
.form_footer div input{
    width:46%;
    margin-right:8px;
    margin-bottom: 16px;
}

/*footer - body - content - form - div - input - last child*/
.form_footer div input:last-child{
    width:100%;
    margin-right:16px;
}

/*footer bottom*/
.footer .bottom{
    background-color: #2246C2;
}

/*footer - bottom - line*/
.line{
    border: 1px solid rgb(251 251 251 / 14%);
    margin-bottom: 20px;
}

/*footer bottom - head*/
.footer .bottom .head{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 20px;
}

/*footer bottom - contact info container*/
.footer .bottom .contact_info{
    display: flex;
    justify-content: center;
}

/*footer bottom - contact info - p*/
.footer .bottom .contact_info p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.69%;
    color: #FBFBFB;
    margin-bottom: 40px;
    margin-right:24px;
}

/*footer bottom - contact info - p - icons*/
.footer .bottom .contact_info p span{
    margin-right:8px;
}

/*footer bottom - social info container*/
.social_info{
    margin-top: 36px;
    margin-bottom: 64px;
}

/*footer bottom - social info - anchor link*/
.social_info a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.69%;
    text-align: center;
    letter-spacing: 0.09em;
    color: #FBFBFB;
}

/*footer bottom - footer container*/
.footer .footer_bottom{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.69%;
    color: rgba(243, 237, 237, 0.62);
    padding-bottom: 20px;
}


@media only screen and (max-width: 1000px) {
    .hero_right img {
      width:100%;
    }
}

@media only screen and (max-width: 1040px){
    .content_service img {
        width: 12%;
    }
    .content_service p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1115px) {
    .controls{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 24px;
    }

    .happycustomers .body .content{
        flex-direction: column;
    }

    .happycustomers .body .content .content_feedbacks .controls img{
        width: 4%;
        margin-right: 16px;
    }

    .quote {
        top: 4%;
        left: -3%;
        width: 4%;
    }

    .happycustomers .body .content .content_feedbacks .feedback{
        margin-top: 20px;;
    }

}
@media only screen and (max-width: 916px){
    .brand_box img{
        width:75%;
    }

    .button_send{
        width:24%;
    }
}

@media only screen and (max-width: 840px){
    
    .content_service{
        width: 75%;
        justify-content: center;
    }

    .ourservices .body .content{
        flex-direction: column;
        align-items: center;
    }

    .ourworks .body .content{
        width:90%;
    }
}

@media only screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
    }

    .hero_left-heading{
        text-align: center;
    }

    .hero_left-content{
        text-align: center;
        width: 100%;
    }

    .hero_left-statistics{
        justify-content: center;
    }


    .hero_right img{
        width:100%;
    }

    ._hero{
        width:100%;
    }

    .header_bottom p{
        justify-content: center;
    }

    .hero_right img{
        margin-top: 32px;
    }

    .ourworks .body .content{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .ourworks .body .content_project{
        margin-left: 0;
        width: 62%;
    }

    .ourworks .body .content_project:nth-child(even){
        margin-top: 40px;
    }

    .button_send {
        width: 16%;
    }
}

@media only screen and (max-width: 724px){
    .form_footer div{
        flex-direction: column;
    }
    .form_footer div input:last-child{
        width:80%;
    }
    .form_footer div input{
        width:80%;
    }
    .button_send {
        width: 25%;
    }

    .menu_icon{
        display: block;
    }

    .nav_link{
        margin-bottom: 8px;
    }

    .nav_links{
        display: none;
    }
    .brand_box img{
        width:90%;
    }
    #special_link{
        background-color: #F8F8F8;
    }
    
    .nav_links #special_link a{
        color: #2246c2;
    }
}

@media only screen and (max-width:570px){
    .brand_box{
        width:50%;
    }
    .brand_box img{
        width:100%;
    }
}

@media only screen and (max-width: 500px){
    .header_bottom form{
        text-align: center;
    }
    .header_bottom form input{
        width:100%;
    }
    .ourservices .header .description, 
    .ourworks .header .description, 
    .happycustomers .header .description, 
    .ourtechnologies .header .description, 
    .footer .header .description{
        margin: 20px;
    }
    .content_service{
        width:100%;
    }
    .ourservices .bottom .content img{
        width:auto;
    }
    .ourworks .body .content_project{
        width:80%;
    }
    .form_footer div{
        width:100%;
    }
    .content_svg img{
        width:90%;
    }

    .footer .bottom .contact_info {
        align-items: center;
        flex-direction: column;
    }
    .footer .bottom{
        padding:16px;
    }

    .ourtechnologies .body .content .content_technologies{
        align-items: center;
        flex-direction: column;
    }
    .ourtechnologies .body .content .content_technologies .technology{
        width:auto;
    }
}

@media only screen and (max-width: 375px){
    .hero{
        padding:16px;
    }

    .header_bottom{
        margin-top: 32px;
    }

    .hero_right img{
        width:100%;
    }
    .button_send{
        width:36%;
    }
    .decimg{
        display: none;
    }
    .ourservices .body .content{
        width: auto;
    }
}

@media only screen and (max-width: 346px){
    .hero_left-statnum{
        font-size: 28px;
    }
    
    .content_service{
        width:90%;
        padding:auto;
    }
}

@media only screen and (max-width: 300px){
    .ourservices .header .head, 
    .ourworks .header .head, 
    .happycustomers .header .head, 
    .ourtechnologies .header .head, 
    .footer .header .head {
        font-size: 24px;
    }
}

@media only screen and (max-width: 280px){
    .hero_left-stat{
        margin-right: 16px;
    }
}

/*styles for hamburger icons close and open*/
.nav_responsive{
    display: flex;
    position: absolute;
    right: 0%;
    top: 12%;
    width: 100%;
    flex-direction: column;
    z-index:50;
}

.navbac{
    background-color: #FFFFFF;
    padding: 32px;
}

.bacdrop{
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(234, 234, 240);
}