/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

marquee,
marquee a{
  background-color: #814527;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 40px;
  background-color: #ffffff;
}

@media only screen and (max-width: 470px) {
  header {
    padding: 8px 20px;
  }
}

header .logo {
  width: 16%;
}

@media only screen and (max-width: 1115px) {
  header .logo {
    width: 25%;
  }
}

@media only screen and (max-width: 688px) {
  header .logo {
    width: 35%;
  }
}

@media only screen and (max-width: 520px) {
  header .logo {
    width: 45%;
  }
}

header .logo img {
  width: 100%;
}

header nav {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #624D49;
}

header nav a {
  color: #624D49;
}

@media only screen and (max-width: 470px) {
  header nav a {
    font-size: 16px;
  }
}

header nav a img {
  width: 24px;
}

@media only screen and (max-width: 470px) {
  header nav a img {
    width: 20px;
  }
}

header nav a:hover {
  border: 1px dashed #EF8410;
  border-radius: 6px;
  padding: 12px;
}

header nav a span {
  vertical-align: middle;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 40px;
  background-color: #F1EFEF;
  position: relative;
}

@media only screen and (max-width: 470px) {
  ul {
    padding: 8px 20px;
  }
}

ul li {
  list-style: none;
  margin-right: 16px;
}

ul li a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #624D49;
}


@media only screen and (max-width: 470px) {
  ul li a {
    font-size: 16px;
  }
}

ul li a img {
  width: 24px;
  vertical-align: sub;
  margin-right: 8px;
}

@media only screen and (max-width: 470px) {
  ul li a img {
    width: 20px;
  }
}

ul span {
  width: 77px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 81px;
  background: #624D49;
  border-radius: 27px 20px 0px 0px;
  opacity: 1;
}

@media only screen and (max-width: 470px) {
  ul span {
    left: 53px;
  }
}

ul .nav-2 {
  width: 77px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 215px;
  background: #624D49;
  border-radius: 27px 20px 0px 0px;
  opacity: 0;
}

@media only screen and (max-width: 470px) {
  ul .nav-2 {
    left: 175px;
  }
}

ul a:hover + span {
  opacity: 1;
}

/*PRODUCT*/
.product_header {
    padding: 24px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.16);
    margin-bottom: 24px;
  }
  
.products{
    background-color: white; /*rgba(217, 217, 217, 0.16);*/
}

  .product_header h3 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 57px;
    color:#EF8410;
  }

  .product_header span {
    color: #631000;
  }

@media only screen and (max-width: 980px) {
    .products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 16px;
    }
  }
  
  @media only screen and (max-width: 826px) {
    .products {
      display: block;
      padding: 16px;
    }
  }
  
  .productcard {
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 18px;
    padding: 24px;
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
    position: relative;
  }

  .offer{
    position: absolute;
    top: -32px;
    width: 80px;
    left: -15px;
  }

  .productcard:last-child{
    margin-bottom: 0;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 30%;
      padding: 20px;
      margin: 0px 24px 0px 0;
    }
  }
  
  @media only screen and (max-width: 826px) {
    .productcard {
      width: 70%;
      margin: auto;
      margin-bottom: 48px;
    }
  }
  
  @media only screen and (max-width: 396px) {
    .productcard {
      width: 90%;
      margin: auto;
      margin-bottom: 48px;
    }
  }
  
  @media only screen and (max-width: 295px) {
    .productcard {
      width: 100%;
      margin: auto;
      margin-bottom: 24px;
    }
  }
  
  .productcard_left-image {
    width: 100%;
  }
  
  .productcard_left-image img {
    width: 100%;
    border-radius: 16px;
  }
  
  .productcard_left {
    width: 20%;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_left {
      width: 100%;
    }
  }
  
  .productcard_right h4 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #624D49;
    margin-left: 28px;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_right h4 {
      margin-left: 0px;
      margin-top: 16px;
      font-size: 18px;
    }
  }
  
  .productcard_right p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
    margin-left: 28px;
    margin-top: 8px;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_right p {
      margin-left: 0px;
    }
  }
  
  .productcard_right p span {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
  }
  
  .productcard_right .special {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: #27B2DE;
  }
  
  .productcard_right .productcard_price p, .productcard_right .orgprice {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #624D49;
    display: inline-block;
  }
  
  .productcard_right .orgprice {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 600;
  }
  
  .productcard_right button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    border-radius: 3px;
    padding: 12px;
    margin-left: 28px;
    border: 1px solid #EF8410;
    border-radius: 6px;
    color: #EF8410;
    margin-top: 8px;
    background-color: #f9f9f9;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_right button {
      margin-left: 0px;
    }
  }

.productcard_footer{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.16);
    margin-top: 24px;
}

.productcard_footer .footer p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #624D49;
    margin-bottom: 16px;
  }

  .productcard_footer button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: #f7f7f7;
    background-color: #EF8410;
    border-radius: 6px;
    padding: 16px 10%;
    border: white;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_footer button {
      margin-left: 0px;
    }
  }

/*FOOTER*/

footer {
  background-color: #EF8410;
  text-align: center;
  padding: 32px;
}

@media only screen and (max-width: 256px) {
  footer {
    padding: 8px;
  }
}

footer div {
  margin-bottom: 36px;
}

footer .footer_top p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FBFBFB;
  margin-bottom: 20px;
}

footer .footer_top button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #EF8410;
  background-color: #FBFBFB;
  border-radius: 3px;
  padding: 12px;
  border: white;
}

footer .contact_details h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FBFBFB;
  margin-bottom: 20px;
}

footer .contact_details .contact_detail {
  margin-bottom: 20px;
}

footer .contact_details .contact_detail a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #FBFBFB;
}

footer .social_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .social_links .social_link {
  margin-right: 16px;
  margin-bottom: auto;
}

footer .social_links .social_link img {
  width: 40px;
}

footer .social_links .social_link:last-child {
  margin-right: 0;
}

footer .footer_bottom {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #FBFBFB;
  margin-bottom: 0;
}