@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Basic design set-up*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

/*Basic design disable default scrollbar*/
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; }

/*Basic design set-up anchor text*/
a {
  text-decoration: none;
  color: #505050; }

/*Basic design set-up input field*/
input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.9375rem;
  outline: none;
  border: 1px solid #cccccc; }

input::placeholder {
  font-family: 'Roboto', sans-serif;
  color: #898989;
  font-weight: 400; }

input:focus {
  border: 1px solid #0000ff8e; }

/*Basic design set-up custom scrollbar*/
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*HEADER*/
/*Header - Searchbar with profile,search and navigation*/
.searchbar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: auto;
  margin: 0.625rem;
  /*YouTube logo and menu icon*/
  /*Searchbar - Input filed, Search button and Microphone*/
  /*Profile - User photo and Bell icon*/ }
  .searchbar_logoarea {
    cursor: pointer; }
    @media (max-width: 584px) {
      .searchbar_logoarea {
        width: 50vw;
        margin-right: auto; } }
    .searchbar_logoarea .menu {
      display: inline-block;
      width: 1.0625rem;
      margin: 0.375rem;
      cursor: pointer; }
      @media (max-width: 584px) {
        .searchbar_logoarea .menu {
          width: 14%;
          margin-bottom: 6px; } }
    .searchbar_logoarea .logo {
      width: 90px;
      display: inline-block;
      margin-left: 10px; }
      @media (max-width: 36.5rem) {
        .searchbar_logoarea .logo {
          width: 65%;
          margin-left: 0%; } }
  .searchbar_searcharea {
    margin: auto;
    text-align: center;
    width: 60%; }
    @media (max-width: 36.5rem) {
      .searchbar_searcharea {
        margin: 0;
        width: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .searchbar_searcharea .searchfield {
      width: 60%;
      padding: 0.5rem; }
      @media (max-width: 36.4375rem) {
        .searchbar_searcharea .searchfield {
          display: none; } }
    .searchbar_searcharea .searchbutton {
      background: #f8f8f8;
      color: #828282;
      border: 1px solid #cccccc;
      border-left: none;
      cursor: pointer;
      margin-left: -0.25rem;
      font-size: 0.875rem;
      padding: 0.5625rem 1.25rem; }
      @media (max-width: 36.5rem) {
        .searchbar_searcharea .searchbutton {
          background-color: white;
          border: none;
          color: black;
          font-size: 1.25rem;
          padding: 0.5625rem 0.3rem 0.5625rem 0.5rem; } }
    .searchbar_searcharea .microphone {
      width: 1.3125rem;
      height: 1.3125rem;
      cursor: pointer;
      vertical-align: middle; }
  @media (max-width: 36.5rem) {
    .searchbar_profilearea {
      width: 25vw; } }
  .searchbar_profilearea .bell {
    width: 1.5625rem;
    margin: 0.3125rem;
    cursor: pointer; }
    @media (max-width: 22.5rem) {
      .searchbar_profilearea .bell {
        width: 34%;
        vertical-align: middle; } }
  .searchbar_profilearea .profile {
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer; }
    @media (max-width: 22.5rem) {
      .searchbar_profilearea .profile {
        width: 39%;
        vertical-align: middle; } }

/*MAIN CONTENT*/
/*Main content - Sidebar Navigation*/
.content {
  height: calc(100vh - 2.5rem);
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  /*Videos Area*/
  /*Videos area - Categories of videos - Top*/
  /*For overall videos only*/
  /*For each video and it's info*/
  /*Video tag - Controls like play, pause are disabled*/ }
  .content_sidebar {
    width: 18vw;
    height: 90vh;
    overflow-y: hidden; }
    @media (max-width: 60.5rem) {
      .content_sidebar {
        display: none; } }
    @media (hover: hover) {
      .content_sidebar:hover {
        overflow-y: scroll; } }
    @media (hover: none) {
      .content_sidebar {
        overflow-y: auto; } }
    .content_sidebar-item:not(.below) {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: #030303;
      padding: 0.75rem; }
      .content_sidebar-item:not(.below) + h3 {
        border-top: 0.0625rem solid #e5e5e5; }
      .content_sidebar-item:not(.below):hover {
        background-color: #e5e5e5; }
      .content_sidebar-item:not(.below) img {
        margin-right: 0.3125rem;
        margin-bottom: -0.1875rem; }
    .content_sidebar-item-home {
      background-color: #e5e5e5; }
    .content_sidebar-item-settings {
      border-top: 0.0625rem solid #e5e5e5; }
    .content_sidebar-item-sendfeedback {
      border-bottom: 0.0625rem solid #e5e5e5; }
    .content_sidebar .below {
      margin-top: 0.625rem;
      font-size: 0.75rem;
      text-align: left;
      padding: 0rem 1.25rem; }
      .content_sidebar .below a {
        color: #606060; }
  .content_sidebaritems {
    margin-top: 0.25rem; }
    .content_sidebaritems .footer-text {
      font-size: 0.8125rem;
      padding: 0.3125rem;
      font-family: 'Roboto Mono', monospace; }
    .content_sidebaritems .footer-text {
      border-bottom: 0.0625rem solid #e5e5e5; }
  .content_videos {
    width: 85vw;
    border-top: 0.0625rem solid #e5e5e5;
    overflow-y: scroll; }
    .content_videos::-webkit-scrollbar {
      width: 0.4375rem; }
    @media (max-width: 60.5rem) {
      .content_videos {
        width: 100vw; } }
    .content_videos-layout {
      background-color: #f9f9f9;
      padding: 1.25rem; }
  .content_top-categories {
    position: fixed;
    background-color: white;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    text-align: center;
    width: 100%;
    list-style-type: none;
    padding-left: 1.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    border-bottom: 0.0625rem solid #e5e5e5;
    overflow: hidden;
    z-index: 100; }
    @media (hover: hover) {
      .content_top-categories:hover {
        overflow-x: scroll; } }
    @media (hover: none) {
      .content_top-categories {
        overflow: auto; } }
    .content_top-categories::-webkit-scrollbar {
      height: 0.4375rem; }
  .content_top-categoryitem {
    color: #030303;
    background-color: #f2f2f2;
    margin-right: 1.25rem;
    border: 0.0625rem solid #dcdcdc;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    padding: 0.3125rem 0.625rem; }
    .content_top-categoryitem:hover {
      background-color: #e5e5e5; }
  .content .content_videos-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    overflow-y: scroll; }
    .content .content_videos-layout ::-webkit-scrollbar {
      width: 0.4375rem; }
  .content_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0.3125rem;
    margin-bottom: 1.25rem;
    position: relative;
    min-height: 23vh;
    width: 16.5rem;
    cursor: pointer;
    /*Container of video - individually*/
    /*Video info*/ }
    @media (max-width: 36.5rem) {
      .content_video {
        width: 80vw; } }
    .content_video .box {
      /*Video tag*/
      /*Video - Shortcut icons when hover*/
      /*Video shortcut icons get displayed when we hover on video, then if that icon hovered - the text will display*/ }
      .content_video .box video {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .content_video .box .videohovericonwatchlater {
        position: absolute;
        top: 0.4375rem;
        right: 0.4375rem;
        opacity: 0; }
        .content_video .box .videohovericonwatchlater:before {
          content: "WATCH LATER";
          background-color: black;
          color: white;
          padding: 0.375rem;
          font-size: 0.625rem;
          letter-spacing: 0.125rem;
          position: absolute;
          top: 0rem;
          right: 1.5625rem;
          width: 5.625rem;
          opacity: 0; }
        .content_video .box .videohovericonwatchlater img {
          background-color: black;
          padding: 0.25rem; }
      .content_video .box .videohovericonaddtoqueue {
        position: absolute;
        top: 2.375rem;
        right: 0.4375rem;
        opacity: 0; }
        .content_video .box .videohovericonaddtoqueue:before {
          content: "ADD TO QUEUE";
          background-color: black;
          color: white;
          padding: 0.375rem;
          font-size: 0.625rem;
          letter-spacing: 0.0625rem;
          position: absolute;
          top: 0rem;
          right: 1.5625rem;
          width: 5.625rem;
          opacity: 0; }
        .content_video .box .videohovericonaddtoqueue img {
          background-color: black;
          padding: 0.25rem; }
      .content_video .box:hover .videohovericonaddtoqueue,
      .content_video .box:hover .videohovericonwatchlater {
        opacity: 1; }
        .content_video .box:hover .videohovericonaddtoqueue:hover::before,
        .content_video .box:hover .videohovericonwatchlater:hover::before {
          -webkit-animation: slide-left 0.5s both;
          animation: slide-left 0.5s both; }
    .content_video-bottom {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox; }
      .content_video-bottom div:first-of-type {
        width: 15%; }
      .content_video-bottom .bottom-text {
        width: 80%; }
      .content_video-bottom img {
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 50%; }
      .content_video-bottom-title {
        padding-left: 0.3125rem;
        font-size: 0.9375rem;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        vertical-align: middle;
        color: #030303; }
      .content_video-bottom-creator {
        font-size: 0.9375rem;
        color: #717171; }
      .content_video-bottom-info {
        font-size: 0.9375rem;
        color: #717171; }
        .content_video-bottom-info span {
          width: 0.3125rem;
          display: inline-block;
          height: 0.3125rem;
          border-radius: 50%;
          background-color: #717171;
          vertical-align: middle; }
  .content_video video::-webkit-media-controls {
    display: none; }

/*FUNCTIONALITY*/
/*Functionality for the sidebar navigation - when the menu icon clicked, the expanded sidebar navigation reduced to small width*/
.small {
  width: 8vw; }
  .small img {
    display: block;
    padding-bottom: 0.625rem; }
  .small a {
    font-size: 0.625rem; }

/*For the above, this will remove the unwanted more navigation*/
.sidenone {
  display: none; }

/*For the above, when the sidebar navigation reduced to small width, the remaining videos total width increased*/
.videosgrid {
  width: 92vw; }

/*To center the videos*/
.videoslayout {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center; }

/*This is for the header search field, when the device width upto 583px*/
.searchsmall {
  display: block !important;
  width: 80vw !important;
  z-index: 100 !important; }

/*For the above, it will make the width which defined below*/
.searchbarsearchareasmall {
  width: 90vw; }

/*For the above, it will make the remove the searchbar logo and menu*/
.searchbarlogonone {
  display: none; }

/*For the above, it will make the remove the searchbar's user profile and bell icon*/
.searchbarprofilenone {
  display: none; }

/*This is applied, when the device width upto 583px. It will remain in the top of entire page, when menu icon clicked*/
.overlay {
  position: absolute;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #524c4cb9;
  z-index: 100; }

/*This is applied, when the device width upto 583px. It will open above the overlay, when menu icon clicked. Sidebar navigation in small screens*/
.sidebarside {
  display: block;
  position: fixed;
  left: 0;
  width: 50vw;
  background-color: #ffffff;
  z-index: 200;
  -webkit-animation: sidebarview 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: sidebarview 0.4s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/*ANIMATIONS*/
/*Animations for sidebar navigation*/
@keyframes sidebarview {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

/*Animations for navigation in each individual video (watch later & add to queue)*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0.625rem);
    transform: translateX(0.625rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0.625rem);
    transform: translateX(0.625rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
