/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 40px;
  background-color: #ffffff;
}

@media only screen and (max-width: 470px) {
  header {
    padding: 8px 20px;
  }
}

header .logo {
  width: 16%;
}

@media only screen and (max-width: 1115px) {
  header .logo {
    width: 25%;
  }
}

@media only screen and (max-width: 688px) {
  header .logo {
    width: 35%;
  }
}

@media only screen and (max-width: 520px) {
  header .logo {
    width: 45%;
  }
}

header .logo img {
  width: 100%;
}

header nav {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #624D49;
}

header nav a {
  color: #624D49;
}

@media only screen and (max-width: 470px) {
  header nav a {
    font-size: 16px;
  }
}

header nav a img {
  width: 24px;
}

@media only screen and (max-width: 470px) {
  header nav a img {
    width: 20px;
  }
}

header nav a:hover {
  border: 1px dashed #EF8410;
  border-radius: 6px;
  padding: 12px;
}

header nav a span {
  vertical-align: middle;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 40px;
  background-color: #F1EFEF;
  position: relative;
}

@media only screen and (max-width: 470px) {
  ul {
    padding: 8px 20px;
  }
}

ul li {
  list-style: none;
  margin-right: 16px;
}

ul li a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #624D49;
}

@media only screen and (max-width: 470px) {
  ul li a {
    font-size: 16px;
  }
}

ul li a img {
  width: 24px;
  vertical-align: sub;
  margin-right: 8px;
}

@media only screen and (max-width: 470px) {
  ul li a img {
    width: 20px;
  }
}

ul span {
  width: 77px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 81px;
  background: #624D49;
  border-radius: 27px 20px 0px 0px;
  opacity: 0;
}

@media only screen and (max-width: 470px) {
  ul span {
    left: 53px;
  }
}

ul .nav-2 {
  width: 77px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 215px;
  background: #624D49;
  border-radius: 27px 20px 0px 0px;
  opacity: 0;
}

@media only screen and (max-width: 470px) {
  ul .nav-2 {
    left: 175px;
  }
}

ul a:hover + span {
  opacity: 1;
}

.product{
    margin:12px;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 18px;
    padding:24px;
}

@media only screen and (max-width: 450px){
    .product{
        margin:0;
        padding: 12px;
        border-radius: 0;
    }
}

.product_head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media only screen and (max-width: 450px){
    .product_head{
        display: block;
    }
}

.product_head img{
    width:20px;
    margin-right: 20px;
}

.product_head h4 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #624D49;
    vertical-align: text-bottom;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 980px) {
    .product_head h4 {
      margin-left: 0px;
      margin-top: 16px;
      font-size: 18px;
    }
  }

  .product_head-des{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
    margin-left: 40px;
    margin-top: 16px;
  }

  @media only screen and (max-width: 450px){
    .product_head-des{
        margin-left: 0;
    }
}
  
  .product_head-des span {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
  }
  
  .product_head-des .special {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: #27B2DE;
  }


  .product_images{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65% 65%;
    grid-template-columns: 65% 65%;
  }

@media only screen and (max-width: 690px){
   .product_images{
    display: block;
   } 
}

  .product_images-left{
    margin-top: 24px;
    margin-left: 38px;
  }

  @media only screen and (max-width: 450px){
    .product_images-left{
        margin-left: 0;
    }
}

  .product_images-left img{
    width:100%;
    border-radius: 18px;
  }

  .product_images-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
  }

  @media only screen and (max-width: 450px){
    .product_images-right{
        margin-left: 0;
    }
}

  @media only screen and (max-width: 690px){
    .product_images-right{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
  }

  .product_images-right img{
    width: 100%;
    border-radius: 8px;
    margin: 8px;
  }


  /*CHECKOUT PROCESS*/

  
  /*CHECKOUT PROCESS*/
  .chinqooperprocess,
  .similar_products {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 32px;
    text-align: center;
    padding: 24px;
  }

  .chinqooperprocess .header h3,
  .similar_products .header h3 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #EF8410;
    margin-bottom: 16px;
  }
  
  .chinqooperprocess .header span,
  .similar_products .header span {
    color: #631000;
  }
  
  .chinqooperprocess .header p,
  .similar_products .header p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #624D49;
    margin-bottom: 16px;
  }
  
  .chinqooperprocess .processes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media only screen and (max-width: 670px) {
    .chinqooperprocess .processes {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
  }
  
  .chinqooperprocess .processes .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 8%;
    margin: 16px;
    margin-right: 48px;
  }
  
  @media only screen and (max-width: 1115px) {
    .chinqooperprocess .processes .process {
      width: 12%;
    }
  }
  
  @media only screen and (max-width: 670px) {
    .chinqooperprocess .processes .process {
      width: 25%;
      margin: 0;
      margin-right: 16px;
    }
    .chinqooperprocess .processes .process img {
      width: 100%;
    }
  }
  
  .chinqooperprocess .processes .process:last-child {
    margin-right: 0;
  }
  
  .chinqooperprocess .processes .process span {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #624D49;
    margin-top: 24px;
  }

  .selected{
    opacity: 0.4;
  }

  .productcard_footer{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color:#EF8410;
    margin-top: 24px;
}

.productcard_footer .footer p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f7f7f7;
    margin-bottom: 16px;
  }

.productcard_price .orgprice {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #f7f7f7;
  display: inline-block;
}

.productcard_footer .footer .productcard_price p{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #f7f7f7;
  display: inline-block;
}

.productcard_price .orgprice {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 400;
}

  .productcard_footer button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: #ef8410;
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 16px 10%;
    border: white;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_footer button {
      margin-left: 0px;
    }
  }
  .similar_products{
    padding: 0;
  }

  .products{
    background-color: white; /*rgba(217, 217, 217, 0.16);*/
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

  .product_header h3 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 57px;
    color:#EF8410;
  }

  .product_header span {
    color: #631000;
  }


  @media only screen and (max-width: 826px) {
    .products {
      display: block;
      padding: 16px;
    }
  }
  
  .productcard {
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 18px;
    padding: 24px;
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    padding: 20px;
    margin: 0px 24px 24px 0;
  }

  .offer{
    position: absolute;
    top: -32px;
    width: 80px;
    left: -15px;
  }

  .productcard:last-child{
    margin-bottom: 0;
  }

  
  @media only screen and (max-width: 826px) {
    .productcard {
      width: 70%;
      margin: auto;
      margin-bottom: 48px;
    }
  }
  
  @media only screen and (max-width: 396px) {
    .productcard {
      width: 90%;
      margin: auto;
      margin-bottom: 48px;
    }
  }
  
  @media only screen and (max-width: 295px) {
    .productcard {
      width: 100%;
      margin: auto;
      margin-bottom: 24px;
    }
  }
  
  .productcard_left-image {
    width: 100%;
  }
  
  .productcard_left-image img {
    width: 100%;
    border-radius: 16px;
  }
  
  .productcard_left {
    width: 100%;
  }
  
  
  .productcard_right h4 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #624D49;
    margin-top: 24px;
  }
  
  @media only screen and (max-width: 980px) {
    .productcard_right h4 {
      margin-left: 0px;
      margin-top: 16px;
      font-size: 18px;
    }
  }
  
  .productcard_right p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
    margin-left: 0;
    margin-top: 8px;
  }
  
  
  .productcard_right p span {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #624D49;
  }
  
  .productcard_right .special {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: #27B2DE;
  }
  
  .productcard_right .productcard_price p, .productcard_right .orgprice {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #624D49;
    display: inline-block;
  }
  
  .productcard_right .orgprice {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 600;
  }
  
  .productcard_right button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    border-radius: 3px;
    padding: 12px;
    margin-left: 0;
    border: 1px solid #EF8410;
    border-radius: 6px;
    color: #EF8410;
    margin-top: 8px;
    background-color: #f9f9f9;
  }


  .similar_more{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.16);
}

.similar_more .similar_footer p {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #624D49;
    margin-bottom: 16px;
  }

  .similar_more button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: #f7f7f7;
    background-color: #EF8410;
    border-radius: 6px;
    padding: 16px 10%;
    border: white;
  }
  
  @media only screen and (max-width: 980px) {
    .similar_more button {
      margin-left: 0px;
    }
  }


  .table{
    overflow-x: auto;
  }

  table {
    color: #631000;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Rubik',sans-serif;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    text-align: center;
    font-weight: 400;
  }

  th{
    font-weight: 500;
  }

  .product_details{
    color: #631000;
    width: 90%;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Rubik',sans-serif;
  }

  .product_details ul{
    display: block;
    list-style:circle;
  }

  .product_details li{
    margin: 12px;
  }