@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type: none;
}

/*body*/
body{
    background: #FBFBFB;
    font-family: 'Zilla Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

/*Top - Header*/
header{
    width:100%;
    padding:20px 16px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/*HeaderContainer*/
.brand_box{
    display: flex;
    font-size: 20px;
    width:30%;
}

/*Header-brandbox-Logo*/
.brand_box img{
    width:55%;
}

/*header-navbar-container*/
.nav_links{
    display: flex;
    align-items: center;
}

/*header-navbar-link-anchor*/
.nav_links .nav_link a{
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #2F2F30;
}


/*header-navbar-link-container*/
.nav_links .special_link{
    background: #2246C2;
    border-radius: 32px;
    padding:8px;
    text-align: center;
}

/*header-navbar-link-anchor-SPECIAL*/
.nav_links .special_link a{
    color:#FBFBFB;
    margin-left:15px;
}

/*hamburger icon container*/
.menu_icon{
    display: none;
    position: absolute;
    cursor:pointer;
    top: 5%;
    right: 26px;
    z-index:20;
}

/*hamburger-container-divs*/
.menu_icon div{
    display:block;
    width:26px;
    height:4px;
    margin-bottom: 4px;
    background-color: #9d9bbe;
    border-radius: 10px;
}

/*topsection container*/
.hero{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding:32px;
    position: relative;
}

/*input tag*/
input{
    margin-top: 16px;
    width:30%;
    background: #FBFBFB;
    border: none;
    border-radius: 3px;
    padding:16px;
    outline:none;
    margin-right: 16px;
}

/*target button*/
.button_send{
    width:12%;
    margin-top: 16px;
    background: #FBFBFB;
    border-radius: 3px;
    border: none;
    padding:16px 8px;
    outline:none;
    margin-right: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 128.69%;
    text-align: center;
    color: #2246C2;
}

/*input placeholder*/
input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #2F2F30;
}

/*target button icon*/
.icon{
    margin-right:8px;
}


/*section containers - head*/
.myprofile .header .head{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 58px;
    color: #2F2F30;
    text-align: center;
}

/*section containers - description*/
.myprofile .header .description{
    margin:10px 16%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.69%;
    text-align: center;
    color: #8F8F92;
}

/*my profile - body container*/
.myprofile .body{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

/*our profile - body - profiles container*/
.myprofile .body .profiles{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    justify-content: center;
}

/*our profile - body - profiles - profile*/
.profile{
    align-items: center;
    background: #f6f6f6;
    border: 1px solid #d5daed;
    border-radius: 6px;
    padding:16px 16px;
    width:80%;
    margin-right:2.5%;
    margin-left:2.5%;
    margin-bottom: 2.5%;
}

/*our profile - body - profiles - profile - p*/
.profile p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #2F2F30;
}

/*our profile - body - profiles - profile - title*/
.profile .profile_title{
    color:#2F2F30;
    text-align: center;
}

/*our profile - body - profiles - profile - category*/
.profile .profile_category{
    display: inline-block; 
    background-color:#395bc1; 
    color:white; 
    padding:5px 10px; 
    border-radius: 25px; 
    font-size:16px;
    margin-top: 8px; 
}

/*our profile - body - profiles - profile - description - category*/
.profile_description .profile_category{
    background-color: #E5F1F5;
    font-size: 16px;
    border: 1px solid #2246C2;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    color: #2246C2;
}

/*our profile - body - profiles - profile - company*/
.profile .profile_company{
    margin: 12px 0;
    text-decoration: none;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #395bc1;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

/*our profile - body - profiles - profile - description*/
.profile .profile_description{
    margin:20px 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #8F8F92;
    line-height: 20px;
    text-align: center;
}

/*our profile - body - profiles - profile - button*/
.profile_button{
    margin-left: auto;
    display: block;
    margin-right: auto;
    background: #2246C2;
    border:1px solid #2246C2;
    border-radius: 3px;
    padding:8px 16px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FBFBFB;
    text-align: center;
    margin-top:16px;
    cursor: pointer;
}

@media only screen and (max-width: 1040px){
    .profile p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 916px){
    .button_send{
        width:24%;
    }
}

@media only screen and (max-width: 840px){
    
    .profile{
        width: 75%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .myprofile .body .profiles{
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 768px) {
    .button_send {
        width: 16%;
    }
}

@media only screen and (max-width: 724px){
    .brand_box img {
        width: 90%;
    }
    .button_send {
        width: 25%;
    }

    .menu_icon{
        display: block;
    }

    .nav_link{
        margin-bottom: 8px;
    }

    .nav_links{
        display: none;
    }
    #special_link{
        background-color: #F8F8F8;
    }
    
    .nav_links #special_link a{
        color: #2246c2;
    }
}

@media only screen and (max-width:570px){
    .brand_box{
        width:50%;
    }
    .brand_box img{
        width:100%;
    }
}

@media only screen and (max-width: 500px){
    .myprofile .header .description{
        margin: 12px 20px;
    }
    .myprofile .bottom .profiles img{
        width:auto;
    }
}


@media only screen and (max-width: 375px){
    .myprofile .body .profiles{
        width: auto;
    }

    .button_send{
        width:36%;
    }
}

@media only screen and (max-width: 346px){
    .profile{
        width:90%;
        padding:auto;
    }
}

@media only screen and (max-width: 300px){
    .myprofile .header .head{
        font-size: 24px;
    }
}

/*styles for hamburger open and close*/
.nav_responsive{
    display: flex;
    position: absolute;
    right: 0%;
    top: 12%;
    width: 100%;
    flex-direction: column;
    z-index:50;
}

.navbac{
    background-color: #FFFFFF;
    padding: 32px;
}

.bacdrop{
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(234, 234, 240);
}