/*MAIN CONTENT*/
.main_content{
    padding:10px 5px;
    display:flex;
    height:80vh;
    justify-content: center;
    text-align: center;
    background-color: rgba(85, 80, 80, 0.301);
    align-items: center;
}

.main_text-box{
    width:60%;
    padding:5px 5px;
}

.main_text-box p{
    color:#fffbfb;
    font-size: 20px;
}

@media (max-width:24.75rem){
    .main_text-box{
        width:100%;
    }
    .main_text-box p{
        font-size: 16px;
    }
}

.main_text-box a{
    display: inline-block;
    background-color: rgba(248, 149, 0, 0.925);
    color:white;
    padding:10px;
    border-radius: 3px;
    margin-top: 5px;
}