body #landing_page {
  background-color: rgba(14, 48, 94, 0.836); }
body a {
  color: #F9F7F2;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }
body a:hover,
body a:checked,
body a:focus {
  color: #F9F7F2;
  text-decoration: none; }
body .landing_box {
  width: 100vw;
  height: 120vh; }
  body .landing_box--texthead {
    font-family: 'Rammetto One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #F1B314;
    line-height: 61px; }
  body .landing_box--texttag {
    font-family: 'Rammetto One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BAA754; }
  body .landing_box--buttons {
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px; }
body #about {
  background-color: rgba(14, 48, 94, 0.836); }
body .about_title {
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
  color: #FCE301;
  text-align: justify; }
body .about_text {
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #FEFCFC;
  text-align: justify; }
  body .about_text span {
    color: #3bc8eb; }

#products {
  background-color: #D96262; }

#visitTalents {
  background-color: #BACDB2; }

#getandgivejob {
  background-color: rgba(185, 183, 176, 0.31); }
  #getandgivejob p {
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: normal; }

#adminPanel {
  background-color: rgba(14, 48, 94, 0.836);
  color: #FEFCFC;
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
  font-weight: normal; }

#getJob,
#giveJob,
#formWinners,
#formProducts,
#formWork_Status {
  color: #FEFCFC;
  background-color: #3B4556;
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
  font-weight: normal; }
  #getJob img,
  #giveJob img,
  #formWinners img,
  #formProducts img,
  #formWork_Status img {
    width: 100%;
    height: 95%;
    border-radius: 10px;
    box-shadow: -1px 0px 16px 8px rgba(245, 38, 15, 0.75);
    -webkit-box-shadow: -1px 0px 16px 8px rgba(245, 38, 15, 0.75);
    -moz-box-shadow: -1px 0px 16px 8px rgba(245, 38, 15, 0.75); }

#giveJob img {
  box-shadow: 0px -1px 10px 9px rgba(142, 185, 235, 0.63);
  -webkit-box-shadow: 0px -1px 10px 9px rgba(142, 185, 235, 0.63);
  -moz-box-shadow: 0px -1px 10px 9px rgba(142, 185, 235, 0.63); }

#formWinners {
  background-color: #2F2F2F; }
  #formWinners img {
    box-shadow: 0px 1px 10px 9px rgba(232, 238, 46, 0.75);
    -webkit-box-shadow: 0px 1px 10px 9px rgba(232, 238, 46, 0.75);
    -moz-box-shadow: 0px 1px 10px 9px rgba(232, 238, 46, 0.75); }

#formProducts {
  background-color: #E79D9F; }

#formWork_Status {
  background-color: #EBF5F4;
  color: #1E1E1E; }
  #formWork_Status img {
    box-shadow: 0px 1px 10px 9px rgba(209, 149, 92, 0.75);
    -webkit-box-shadow: 0px 1px 10px 9px rgba(209, 149, 92, 0.75);
    -moz-box-shadow: 0px 1px 10px 9px rgba(209, 149, 92, 0.75); }

/*# sourceMappingURL=rewrite.css.map */
