body{
    background-color: white;
}


.container{
    display: flex;
    width:80%;
    margin:30px auto;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.product_image{
    width:30%;
}

.product_image img{
    width:100%;
}

.product_details{
    width: 70%;
    margin-left: 30px;
    align-self: center;
}

.product_details:not(.product_head){
    font-size: 13px;
}

.product_head a{
    color:#272525;
}

.product_rating{
    padding:3px 0;
}

.product_rating a{
    color:skyblue;
}

.fa-star.checked:before{
    color:orange;
}

.fa-star:last-child{
    color:#ccc;
}

.product_offer_time{
    display: inline-block;
    background-color: brown;
    color:white;
    padding:5px;
}

.product_price_details{
    margin-top:5px;
}

.product_price_now{
    font-size: 18px;
    color: brown;
    font-weight: bolder;
}

.product_price_original{
    text-decoration: line-through;
    color:#8f8686;
}

.product_price_save{
    font-weight: 600;
    color:#272525;
}

.product_offer_bank{
    color:#8f8686;
}

.account_type{
    color:orange;
}

.product_offer_bank + p{
    color:orange;
    margin-top:5px;
}

.account_type{
    font-weight: 600;
    color:skyblue;
}

.product_delivery,
.product_delivery_company{
    color:#8f8686;
}

.product_delivery_time{
    font-weight: 600;
    color:#272525;
}


@media only screen and (max-width:30.125rem){
    .container{
        width:100%;
    }
}

@media only screen and (max-width:22.3125rem){
    .container{
        width:100%;
        flex-direction: column;
    }


    .product_details{
        width:90%;
        margin:0 10px;
    }
}
